{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "import"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/assets", "./src/assets"],
          ["@/pages", "./src/pages"],
          ["@/src", "./src"]
        ],
        "extensions": [".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // ESLint rules
    "arrow-body-style": "error",
    "block-scoped-var": "error",
    "camelcase": "error",
    "capitalized-comments": "warn",
    "curly": "error",
    "default-case-last": "error",
    "default-case": "error",
    "default-param-last": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "max-lines": ["error"],
    "multiline-comment-style": "error",
    "no-console": "warn",
    "no-duplicate-imports": "error",
    "no-else-return": "warn",
    "no-empty": "error",
    "no-extra-boolean-cast": "warn",
    "no-implicit-globals": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-template-curly-in-string": "error",
    "no-unneeded-ternary": "warn",
    "no-useless-rename": "warn",
    "no-var": "error",
    "no-warning-comments": "warn",
    "operator-assignment": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": "warn",
    "prefer-rest-params": "warn",
    "require-await": "error",
    "sort-keys": "warn",
    "sort-vars": "warn",
    // React rules
    "react/react-in-jsx-scope": "off",
    // Import rules
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin", // Built-in imports (come from NodeJS native) go first
          "external", // <- External imports
          "internal", // <- Absolute imports
          ["sibling", "parent"], // <- Relative imports, the sibling and parent types they can be mingled together
          "index", // <- index imports
          "unknown" // <- unknown
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc", // sort in ascending order. Options: ["ignore", "asc", "desc"]
          "caseInsensitive": true // ignore case. Options: [true, false]
        }
      }
    ]
  },
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": ["watch.js", "dist/**"]
}
